# Data Wrangling in Pandas
Below are some basic operations that will help you confidently begin wrangling a csv in python!

In [3]:
# Import libraries
import pandas as pd
import numpy as np

#### Libraries not installed? 
With anaconda, you can easily install new libraries for your python notebook through your computer terminal. 
1. Open a terminal on your computer
2. Type: `conda install [name of library]`
3. hit `enter`
This should begin the installation process of whichever library your are trying to install. More detailed instructions can be found on the anaconda site.

In [10]:
#Read in csv
df = pd.read_csv('/Users/madeleineseitz/Desktop/stroop_test.csv')
#Call data frame head (this will return the first five rows of a df)
df.head()

,text,letterColor,corrAns,congruent,trials.thisRepN,trials.thisTrialN,trials.thisN,trials.thisIndex,instrText.started,instrText.stopped,...,Resp.rt,Resp.started,Resp.stopped,participant,session,date,expName,psychopyVersion,frameRate,Unnamed: 23
0,red,red,left,1,0,0,0,0,12.890473,13.897167,...,9.476369,46.314857,None,0,1,2020_Nov_16_1327,stroop_test_1,2020.2.5,60.022071,NaN
1,blue,red,left,0,0,1,1,5,NaN,NaN,...,0.549709,56.296472,None,0,1,2020_Nov_16_1327,stroop_test_1,2020.2.5,60.022071,NaN
2,green,green,down,1,0,2,2,2,NaN,NaN,...,0.348712,57.346441,None,0,1,2020_Nov_16_1327,stroop_test_1,2020.2.5,60.022071,NaN
3,green,blue,right,0,0,3,3,3,NaN,NaN,...,0.454760,58.196366,None,0,1,2020_Nov_16_1327,stroop_test_1,2020.2.5,60.022071,NaN
4,blue,blue,right,1,0,4,4,4,NaN,NaN,...,0.361040,59.163069,None,0,1,2020_Nov_16_1327,stroop_test_1,2020.2.5,60.022071,NaN

In [11]:
#Call the data frame tail (this will return the last five rows of a df)
df.tail()

,text,letterColor,corrAns,congruent,trials.thisRepN,trials.thisTrialN,trials.thisN,trials.thisIndex,instrText.started,instrText.stopped,...,Resp.rt,Resp.started,Resp.stopped,participant,session,date,expName,psychopyVersion,frameRate,Unnamed: 23
25,red,red,left,1,4,1,25,0,NaN,NaN,...,0.281424,78.646116,None,0,1,2020_Nov_16_1327,stroop_test_1,2020.2.5,60.022071,NaN
26,blue,red,left,0,4,2,26,5,NaN,NaN,...,0.247083,79.429428,None,0,1,2020_Nov_16_1327,stroop_test_1,2020.2.5,60.022071,NaN
27,green,green,down,1,4,3,27,2,NaN,NaN,...,0.211002,80.179474,None,0,1,2020_Nov_16_1327,stroop_test_1,2020.2.5,60.022071,NaN
28,blue,blue,right,1,4,4,28,4,NaN,NaN,...,0.129443,80.896041,None,0,1,2020_Nov_16_1327,stroop_test_1,2020.2.5,60.022071,NaN
29,green,blue,right,0,4,5,29,3,NaN,NaN,...,0.211121,81.529325,None,0,1,2020_Nov_16_1327,stroop_test_1,2020.2.5,60.022071,NaN

### Select columns using brackets
With square brackets, you can select one or more columns.

In [12]:
# Select one column using double brackets
df[['letterColor']].head()

  letterColor
0         red
1         red
2       green
3        blue
4        blue

In [13]:
# Select multiple columns using double brackets
df[[ 'letterColor', 'session']].head()

  letterColor  session
0         red        1
1         red        1
2       green        1
3        blue        1
4        blue        1

In [14]:
# This is a Pandas DataFrame
type(df[[ 'letterColor', 'session']].head())

pandas.core.frame.DataFrame

In [16]:
# Select one column using single brackets
df['session'].head()

0    1
1    1
2    1
3    1
4    1
Name: session, dtype: int64

In [17]:
# This produces a pandas series which is a one-dimensional array which can be labeled
type(df['session'].head())

pandas.core.series.Series

In [ ]:
# Keep in mind that you can't select multiple colums using single brackets
# This will result in a KeyError
df['letterColor', 'session']

#### Pandas Slicing
With a pandas series, we can select rows using slicing like this: series[start_index:end_index]

The end_index is not inclusive. This behavior is very similar to Python lists.